body{
    background-color: coral;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-layout {
    display: flex;
    flex-direction: column;
    margin-right: 460px;
    color: brown;
 }
  
  .content {
    margin-top: 50px; 
    padding: 20px;
    transition:  0.3s ease;
    color:blue;
    background-color: aqua;
    
  }
  @media (max-width: 422px) {
    .responsive-bg {
      background-position: left;

    }
  }
   